# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.eggs/

# Django
*.log
*.pot

db.sqlite3
media

# Development
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Environment
.env
.venv/
*.env*
venv/
ENV/

# OS files
.DS_Store
Thumbs.db