{% extends "post/_base.html" %}

{% load widget_tweaks %}
{% load static %}
{% block title %}
    Create a post
{% endblock title %}


{% block content %}
    <div class="p-5">
        <h3>It's amazing how you can create a post and share with people.</h3>
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type='submit' class='btn btn-success mt-3'>Submit</button>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock content %}